.form {
    padding: 1rem;
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;   
    margin-right: 0;
    max-width: 100rem;


  }
  
  .control {
    margin-bottom: 0.5rem;
  }
  
  .control label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .control input,
  .control textarea {
    display: block;
    font: inherit;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 0.25rem;
    width: 100%;
  }
  
  .actions {
    margin-top: 1rem;
    text-align: center;
  }
  
  .actions button {
    font: inherit;
    cursor: pointer;
    background-color: #1309a0;
    color: white;
    padding: 0.5rem 1.5rem;
    border: 1px solid #13c4e4;
    border-radius: 4px;
    font-weight: bold;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #198cc2;
    border-color: #033a44;
    color: black;
  }